
/** hdrBanner **/

#infront {
	display:none;
	position:absolute;
	top:-30px;
	right:3%;
	width:190px;
	overflow:visible;
}
@media (min-width: 768px) {#infront {display:block;}}
@media (min-width: 992px) {#infront {width:230px;}}
/*@media (min-width: 1200px) {#infront {width:210px;}}*/

/* videotape to dvd */

#info {
	margin-top:50px;
}

#format, #pricing, #whatyouget, #ordernow {
	margin-top:35px;
	padding-bottom:30px;
}

#format {
	border-bottom:1px solid #ccc;
}

.steptext h2 {
	font-family:Helvetica,Arial,sans-serif;
	font-weight:600;
}

#format .steptext h4 {
	margin-top:30px;
}
@media (min-width: 768px) {#format .steptext h4 {margin-top:0;}}

#format .stepimg {
	position:relative;
	width:250px;
}
@media (min-width: 768px) {#format .stepimg {width:210px; height:160px;}}
@media (min-width: 992px) {#format .stepimg {width:270px; height:200px;}}
/*@media (min-width: 1200px) {#format .stepimg {width:330px; height:250px;}}*/

#format .stepimg img {
	width:100%;
}
@media (min-width: 768px) {#format .stepimg img {position:absolute; bottom:0; left:0;}}

#format .image-format-label {
	float:left;
	font-family:Helvetica,Arial,sans-serif;
	font-size:11px;
	font-weight:100;
	text-align:center;
}
@media (min-width: 768px) {#format .videotape-format-label {font-size:14px;}}
@media (min-width: 992px) {#format .videotape-format-label {font-size:16px;}}
/*@media (min-width: 1200px) {#format .videotape-format-label {font-size:18px;}}*/

#space1 {width:31%;}
#space2 {margin-left:1%; width:43%;}
@media (min-width: 768px) {#space1 {width:38%;} #space2 {margin-left:5%;}}

#pricing h4 {
	margin-top:15px;
}

#pricing h4 b,
#pricing .h3 {
	font-weight:600;
}

#whatyouget.row {
	background:#e5f6ff; /* Old browsers */
	background:-moz-linear-gradient(top,  #e5f6ff 0%, #ffffff 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5f6ff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,  #e5f6ff 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,  #e5f6ff 0%,#ffffff 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top,  #e5f6ff 0%,#ffffff 100%); /* IE10+ */
	background:linear-gradient(to bottom,  #e5f6ff 0%,#ffffff 100%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5f6ff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	border:2px solid #c0e9ff;
}

#whatyouget .steptext {
	margin-top:35px;
}
#whatyouget .steptext:first-child {
	margin-top:25px;
}

#whatyouget .steptext h5 {
	text-align:center;
}

#whatyouget .stepimg {
	position:relative;
	text-align:center;
	margin:0 auto;
	width:170px;
	height:170px;
}
@media (min-width: 768px) {#whatyouget .stepimg {}}
@media (min-width: 992px) {#whatyouget .stepimg {}}
/*@media (min-width: 1200px) {#whatyouget .stepimg {height:210px;}}*/

#whatyouget .stepimg img {
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
}

#ordernow .stepimg {
	width:200px;
	margin:0 auto;
	margin-bottom:20px;
}
@media (min-width: 768px) {#ordernow .stepimg {}}
@media (min-width: 992px) {#ordernow .stepimg {}}
/*@media (min-width: 1200px) {#ordernow .stepimg {}}*/

#ordernow .stepimg img {
	width:100%;
}

#ordernow .choices {
	text-align:center;
	margin-top:10px;
}
@media (min-width: 768px) {#ordernow .choices {text-align:left;}}

#ordernow .choices span {
	color:#ff9900;
	margin:0 10px;
	display:block;
}
@media (min-width: 768px) {#ordernow .choices span {display:inline-block;}}
@media (min-width: 992px) {#ordernow .choices span {}}
/*@media (min-width: 1200px) {#ordernow .choices span {}}*/



