
/** hdrBanner **/

#inback {
	position:absolute;
	top:-50px;
	left:5%;
	right:5%;
	height:60px;
	overflow:hidden;
}
@media (min-width: 480px) {#inback {left:auto;}}

#infront {
	display:none;
	position:absolute;
	top:-10px;
	right:3%;
	width:260px;
	height:150px;
	overflow:visible;
}
@media (min-width: 768px) {#infront {display:block;}}

.hdrBanner .outer,
.hdrBanner .inner {
	overflow:visible;
}

.btnHdrOrderLg {
	position:relative;
	top:-110px;
	left:-230px;
	font-size:18px;
}
@media (min-width: 992px) {.btnHdrOrderLg {top:-80px;}}

.btnHdrOrderLg span {
	display:block;
	font-size:14px;
	color:#fff;
}

.btnSm {
	padding:6px 40px;
}

/** content **/

#track {
	margin-top:60px;
}
@media (min-width: 480px) {#track {margin-top:130px;}}
@media (min-width: 768px) {#track {margin-top:60px;}}

h2 {
	margin-top:20px;
}
@media (min-width: 768px) {h2 {margin-top:30px;}}
@media (min-width: 992px) {h2 {margin-top:36px;}}
/*@media (min-width: 1200px) {h2 {margin-top:40px;}}*/

.row p {
	padding-left:0;
}
@media (min-width: 768px) {.row h3, .row p {padding-left:30px;}}
@media (min-width: 992px) {.row h3, .row p {padding-left:36px;}}
/*@media (min-width: 1200px) {.row h3, .row p {padding-left:40px;}}*/

#trackmodule.row {
	background:#e5f6ff; /* Old browsers */
	background:-moz-linear-gradient(top,  #ffffff 0%, #c7c8d0 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#c7c8d0)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,  #ffffff 0%,#c7c8d0 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,  #ffffff 0%,#c7c8d0 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top,  #ffffff 0%,#c7c8d0 100%); /* IE10+ */
	background:linear-gradient(to bottom,  #ffffff 0%,#c7c8d0 100%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c7c8d0',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	border:2px solid #929292;
	margin-top:30px;
	padding: 30px 25px 10px 25px;
}

.fieldform1 {
	height:50px;
}

.fieldform2 {
	height:50px;
}
@media (min-width: 768px) {.fieldform2 {}}

.fieldform1 h5 {
	padding-top:10px;
}

.fieldform2 input {
	height:40px;
	padding-left:5px;
	padding-right:5px;
}

.fieldformsubmit {
	height:90px;
	margin-top:10px;
}

#theIframe {
	width:100%;
	height:400px;
}
@media (min-width: 768px) {.fieldform2 {}}
@media (min-width: 768px) {.fieldform2 {}}
